extends ./layouts/master.pug

block title
  title Fullstack Test Task

block header
  include ./components/header.pug

block content
  include ./sections/section_1.pug
  include ./sections/section_2.pug
  include ./sections/section_3.pug
